<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Bloquear acceso a archivos y carpetas sensibles
    RewriteRule ^\.env - [F,L,NC]
    RewriteRule ^\.git - [F,L,NC]
    RewriteRule ^composer\.(json|lock) - [F,L,NC]
    RewriteRule ^package(-lock)?\.json - [F,L,NC]
    RewriteRule ^vite\.config\.js - [F,L,NC]
    RewriteRule ^phpunit\.xml - [F,L,NC]
    RewriteRule ^storage/logs/ - [F,L,NC]

    # Redirigir todas las peticiones a la carpeta public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
